<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Archive</title>
</head>
<body>
    <h1>Створити архів</h1>

    <form th:action="@{/archive/create}" th:object="${archive}" method="post" enctype="multipart/form-data">

        <label>Назва архіву:</label><br/>
        <input type="text" th:field="*{name}" /><br/><br/>

        <label>Тип архіву:</label><br/>
        <select th:field="*{archiveTypeId}">
            <option th:each="type : ${archiveTypes}" th:value="${type}" th:text="${type}"></option>
        </select><br/><br/>

        <label>Користувач ID:</label><br/>
        <input type="text" th:field="*{userId}" /><br/><br/>

        <label>Файли для архіву:</label><br/>
        <input type="file" name="files" multiple /><br/><br/>

        <button type="submit">Створити архів</button>
    </form>

    <br/>
	<a href="/user/users">Список користувачів</a>
    <a href="/archive/archives">Список архівів</a>
</body>
</html>