<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>

<h1>Реєстрація</h1>

<form th:action="@{/user/create}" th:object="${user}" method="post">

    <label>Email:</label>
    <input type="text" th:field="*{email}" placeholder="user@example.com" required />
	<br>
	<br>
    <label>Пароль:</label>
    <input type="password" th:field="*{password}" placeholder="******" required />
	<br>
	<br>
    <label>Роль:</label>
    <select th:field="*{role}" required>
        <option value="USER">Користувач</option>
        <option value="ADMIN">Адмін</option>
    </select>
	<br>
	<br>
    <button type="submit">Створити</button>
</form>
	
	<br>
	<a href="/user/login">Авторизуватися</a>


</body>
</html>
